@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FACF9F;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0.5em 0.5em 4em 0.5em;
}

h1 {
    color: #0A4D58;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
    line-height: 1.75em;
}

h2 {
    color: #0A4D58;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
}

label {
    display: block;
}

body div:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input,
button {
    margin: .5em 0;
    padding: .5em;
    border-radius: .3em;
    width: 30%;
}

input {
    display: block;
    font-size: 1em;
}

button {
    font-size: 1em;
    background: #0A4D58;
    color: white;
    border: none;
}

button:disabled {
    opacity: .5;
}

#video {
    width: 100%;
}

img {
    width: 100%;
    display: block;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 100%;
}

.hidden {
    display: none;
}

pre {
    color: #0A4D58;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1em;
}

audio {
    display: block;
    width: 100%;
}

@media (min-width: 31em) {

    audio {
        max-width: 30em;
        margin: 0 auto;
    }

}

@media (min-width: 60em) {

    body {
        margin: 0 auto;
        max-width: 60em;
        padding-bottom: 6em;
    }

}
